[changelog]
header = ""
body = """
{% for group, commits in commits | group_by(attribute="group") %}\
### {{ group | upper_first }}
{% for commit in commits %}\
- {{ commit.message | upper_first | split(pat="\n") | first | trim }}\
{% endfor %}
{% endfor %}\
"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = false
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Bug Fixes" },
  { message = "^refactor", group = "Refactoring" },
  { message = "^ci", skip = true },
  { message = "^chore", skip = true },
  { message = "^Merge", skip = true },
  { message = "^.*", group = "Other Changes" },
]
tag_pattern = "v[0-9]*"
sort_commits = "oldest"
