@import './base.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background-color: #fff;
  color: #1b1b1f;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
